/*@import url('https://api.fontshare.com/v2/css?f[]=cabinet-grotesk@100,200,300,400,500,700,800,900,1&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
/* @import url('https://api.fontshare.com/v2/css?f[]=satoshi@300,301,400,401,500,501,700,701,900,901,1,2&display=swap'); */

* {
    margin: 0;
    padding: 0;
    transition: background-color 300ms ease, color 300ms ease;
}

:root {
    --primary-color:#FB6F92;
    --secondary-color: #FF8FAB;
    --tertiary-color: #FFB3C6;
    --quaternary-color: #ffcfdb;
    --background-color: #ffeef2;
    --dark-color: #801431;
    --header-color: rgb(255, 227, 233);
    --white: #ffffff;
}

.darkmode {
    --primary-color: #FB6F92;
    --secondary-color: #FF8FAB;
    --tertiary-color: #FFB3C6;
    --quaternary-color: #661329;
    --background-color: #3f0a18;
    --dark-color: #ffeef2;
    --header-color: #5e10248f;
    --white: #661329;
}

/* Botão Dark Mode  */

#theme-switch {
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--quaternary-color);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 30px;
    right: 40px;
}

#theme-switch img:last-child {
    display: none;
}

.darkmode #theme-switch img:first-child {
    display: none;
}

.darkmode #theme-switch img:last-child {
    display: block;
}

#theme-switch:hover {
    cursor: pointer;
    transform: translateY(-2px);
    transition: all 300ms ease;
}

/* Geral  */

body {
    /*font-family: 'Cabinet Grotesk', sans-serif;*/
    font-family: "Azeret Mono", monospace;
    /* font-family: 'Satoshi', sans-serif; */
    background-color: var(--background-color);
}

html {
    scroll-behavior: smooth;
}

p {
    color: var(--dark-color);
}

h1 {
    color: var(--primary-color);
}

h2, h3, h4, h5, h6 {
    color: var(--dark-color);
}

header {
    background-color: var(--header-color);
    width: 100%;
    /* position: fixed;
    backdrop-filter: blur(10px);
    top: 0;
    left: 0;
    z-index: 1000; */
}

/* Transição */

a, .btn {
    transition: all 300ms ease;
}

/* Navegação */

/* .menu-fixo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: var(--background-color);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
} */

nav ul li:hover {
    transform: translateY(-2px);
    transition: all 300ms ease;
}

nav, .nav-links {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

a {
    color: var(--dark-color);
    text-decoration: none;
    text-decoration-color: white;
}

a:hover {
    color: var(--primary-color);
    text-decoration: underline;
    text-underline-offset: 0.3rem;
    text-decoration-color: var(--primary-color); 
    transform: translateY(-2px);
    transition: all 300ms ease;
}

.logo {
    font-size: 2rem;
    color: var(--primary-color);
}

.logo:hover {
    cursor: default;
    transform: translateY(-2px);
    transition: all 300ms ease;
}

/* MENU */

#menu-nav {
    display: none;
}

.menu {
    position: relative;
    display: inline-block;
}

.icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.icon span {
    width: 100%;
    height: 2px;
    background-color: var(--dark-color);
    transition: all 300ms ease;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--background-color);
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 300ms ease;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: var(--dark-color);
    text-decoration: none;
}

.menu-links a:hover {
    color: var(--primary-color);
    text-decoration: underline;
    text-underline-offset: 0.3rem;
    text-decoration-color: var(--primary-color); 
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 300px;
}

.icon.open span:first-child {
    transform: rotate(45deg) translate(10.5px, 5px);
}

.icon.open span:nth-child(2) {
    opacity: 0;
}

.icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.icon span:first-child {
    transform: none;
}

.icon span:first-child {
    opacity: 1;
}

.icon span:first-child {
    transform: none;
}

/* Seções */

section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container {
    display: flex;
}

/* Perfil */

#profile {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}

/* .section__pic {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
}

.section__pic img {
    border-radius: 50%;
} */

/* section#contato , section#experiencia, section#sobre-mim, section#projetos {
    scroll-margin-top: 120px;
} */

.section__text {
    align-self: center;
    text-align: center;
}

.section__text p {
    font-weight: 600;
}

.section__text__p1 {
    text-align: center;
}

.section__text__p2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.title {
    font-size: 3rem;
    text-align: center;
}

/* Ícones */

#socials-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    gap: 1rem;
}

#socials-container a {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.socials-icon {
    fill: var(--dark-color);
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: all 300ms ease;
}

.socials-icon:hover {
    transform: scale(1.2);
}

#github {
  position: relative;
  bottom: 0.5px;
}

/* Botões */

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn {
    font-weight: 600;
    font-family: "Azeret Mono", monospace;
    transition: all 300ms ease;
    padding: 1rem;
    width: 7rem;
    border-radius: 2rem;
}

.btn:hover {
    cursor: pointer;
    transform: scale(1.1);
    background: var(--dark-color);
    color: var(--white);
}

.btn-color-1, .btn-color-2 {
    /* border: var(--secondary-color) 0.1rem solid; */
    border: none;
    background: var(--primary-color);
    color: white;
}

#btnTopo {
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    z-index: 1000;
    background-color: var(--quaternary-color);
    color: var(--dark-color);
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    position: relative;
    bottom: 30px;
    right: 40px;
}

#btnTopo:hover {
    transform: translateY(-2px);
    transition: all 300ms ease;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: var(--quaternary-color);
    color: var(--dark-color);
}